{% extends "base.html" %}

{% block content %}
    <div class='container' style='width:60%'>
        <table class="table">
            {% for i,j in field.items %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ j }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}




<!--        <tr>
                <td>Company Name</td>
                <td>{{companyname}}</td>
            </tr>
            <tr>
                <td>Date of visit</td>
                <td>{{field.Date_of_visit}}</td>
            </tr>
            <tr>
                <td>Visit Type</td>
                <td>{{field.Visit_type}}</td>
            </tr>
            <tr>
                <td>FCR_IR_SCR_Report_Number</td>
                <td>{{field.FCR_IR_SCR_Report_Number}}</td>
            </tr>
            <tr>
                <td>Company Name</td>
                <td>{{field.companyname}}</td>
            </tr> -->


<!-- id : 1
Timestamp : Dec. 23, 2022, 8:04 a.m.
Date_of_visit : Dec. 31, 2022            
Visit_type : INSTALLTIO
FCR_IR_SCR_Report_Number : 123456764            
Call_recived_date_and_time : Dec. 17, 2022              
Call_attended_date_and_time : Dec. 8, 2022
Call_completed_date_and_time : Dec. 10, 2022
Machine_type : m1
Machine_model : m2
Machine_serial_number : 12345321
Solution_provided : quickfix
Room_temperature : 6767
Dust_free : Yes
Voltage_earthing : 223
List_of_spares_used : jgyyigu
Customer_feedback : jhgbjhg
Customer_comments : jygiuytguy
Engineer_sign_name_on_report : True
Machine_operator_name_on_report : False
Customer_sign_and_stamp_on_report : True
Name_of_the_engineer_call_attended : Sujeet111
Visit_purpose : Customer Support
List_of_parts_replaced : jygju
Expenses : 12000
Remark : parts purchased
Company_Name_id : 1
Requirements : none
Approved_status : None
Expense_category : Parts Replaced -->