{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <p class='display-5 d-flex justify-content-center p-2'>Service Call Report</p>
        <p class='text-muted text-center pb-2 m-0'>
            Created by : {{companyname.created_by}}
            &ensp;|&ensp;
            Created on : {{field.Timestamp}}</p>
        <p class='text-muted text-center pb-2 m-0'>
            Status Modified by : {{field.Approved_status}}
            &ensp;|&ensp;
            Modified on : {{field.Approved_Timestamp}}
        </p>
        <table class="table p-4 font-monospace">
            <tbody>
                <tr>
                    <td scope="col">Customer Name:</td>
                    <td scope="col">{{field.Company_Name}}</td>
                </tr>
                <tr>
                    <td scope="col">Visit Date:</td>
                    <td scope="col">{{field.Date_of_Visit}}</td>
                </tr>
                <tr>
                    <td scope="col">Address: </td>
                    <td scope="col">{{companyname.address}}</td>
                </tr>
                <tr>
                    <td scope="col">Contact Person Name: </td>
                    <td scope="col">{{companyname.Contact_person}}</td>
                </tr>
                <tr>
                    <td scope="col">Expense Category: </td>
                    <td scope="col">{{field.Expense_category}}</td>
                </tr>
                <tr>
                    <td scope="col">Visit_purpose</td>
                    <td scope="col">{{field.Visit_purpose}}</td>
                </tr>
                <tr>
                    <td scope="col">Expenses</td>
                    <td scope="col">{{field.Expenses}}</td>
                </tr>
                <tr>
                    <td scope="col">Visit_Type</td>
                    <td scope="col">{{field.Visit_Type}}</td>
                </tr>
                <tr>
                    <td scope="col">FCR_IR_SCR_Report_Number</td>
                    <td scope="col">{{field.FCR_IR_SCR_Report_Number}}</td>
                </tr>
                <tr>
                    <td scope="col">Call_Recived</td>
                    <td scope="col">{{field.Call_Recived}}</td>
                </tr>
                <tr>
                    <td scope="col">Call_Attended</td>
                    <td scope="col">{{field.Call_Attended}}</td>
                </tr>
                <tr>
                    <td scope="col">Call_Completed</td>
                    <td scope="col">{{field.Call_Completed}}</td>
                </tr>
                <tr>
                    <td scope="col">Call_Status</td>
                    <td scope="col">{{field.Call_Status}}</td>
                </tr>
                <tr>
                    <td scope="col">Voltage_earthing</td>
                    <td scope="col">{{field.Voltage_earthing}}</td>
                </tr>
                <tr>
                    <td scope="col">Machine_type</td>
                    <td scope="col">{{field.Machine_type}}</td>
                </tr>
                <tr>
                    <td scope="col">Machine_model</td>
                    <td scope="col">{{field.Machine_model}}</td>
                </tr>
                <tr>
                    <td scope="col">Machine_serial_number</td>
                    <td scope="col">{{field.Machine_serial_number}}</td>
                </tr>
                <tr>
                    <td scope="col">Problem_Encountered</td>
                    <td scope="col">{{field.Problem_Encountered}}</td>
                </tr>
                <tr>
                    <td scope="col">Solution_provided</td>
                    <td scope="col">{{field.Solution_provided}}</td>
                </tr>
                <tr>
                    <td scope="col">Room_temperature</td>
                    <td scope="col">{{field.Room_temperature}}</td>
                </tr>
                <tr>
                    <td scope="col">Dust_free</td>
                    <td scope="col">{{field.Dust_free}}</td>
                </tr>
                <tr>
                    <td scope="col">List_of_Spares_Used</td>
                    <td scope="col">{{field.List_of_Spares_Used}}</td>
                </tr>
                <tr>
                    <td scope="col">List_of_Parts_Replaced</td>
                    <td scope="col">{{field.List_of_Parts_Replaced}}</td>
                </tr>
                <tr>
                    <td scope="col">Customer_Comments</td>
                    <td scope="col">{{field.Customer_Comments}}</td>
                </tr>
                <tr>
                    <td scope="col">Customer_Feedback</td>
                    <td scope="col">{{field.Customer_Feedback}}</td>
                </tr>
                <tr>
                    <td scope="col">Remark</td>
                    <td scope="col">{{field.Remark}}</td>
                </tr>
            </tbody>    
        </table>
    </div>
{% endblock %}

<!-- 
    # ----------------------------------------------------------------
    Problem_Encountered = models.CharField(max_length=300)
    Room_temperature = models.CharField(max_length=10,blank=True,null=True)
    Dust_free = models.CharField(max_length=5,choices=dust_free_choice)
    Solution_provided= models.CharField(max_length=300)
    # ----------------------------------------------------------------
    List_of_Spares_Used = models.CharField(max_length=30,blank=True)
    List_of_Parts_Replaced = models.CharField(max_length=30,blank=True)
    # ----------------------------------------------------------------
    Customer_Comments = models.CharField(max_length=30,blank=True)
    Customer_Feedback = models.CharField(max_length=30,blank=True)
    # ----------------------------------------------------------------
    Remark = models.CharField(max_length=300,blank=True,null=True) -->