{% extends "users/userbase.html" %}
{% block style %}
<style>
    #signup-btn{
        box-sizing: border-box;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 7%;
        width:100%;
        padding: 0px;
        gap: 8px;
        /* Bludigit_Secondary */
        border: 1px solid #CEE8FF;
        border-radius: 100px;
    }
</style>
        
{% endblock%}

{% block content %}
<div class='p-3' style='height:100%;'>
    <div class='row justify-content-center' style='height:100%;'>
<!--         <div class='col-6'> -->
<!--             <p class='display-4'>Create account on</p> <p class='display-4'><strong>Expense Portal</strong></p> -->
<!--             </div> -->
        <div class='col-8' style='height:100%;'>
            <form style='height:100%;' class='' action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row align-items-start">
                        <p>{{ field.label }}: <br> {{ field }}</p> 
                        {% for error in field.errors %}
                            <small style="color: red">{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button id='signup-btn' type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
